* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Fjalla One", sans-serif;
}

body {
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
    background-color: black;
}

nav {
    position: absolute;
    top: 15px;
    left: 10px;
    width: 150px;
    display: flex;
    justify-content: space-around;
}

nav button {
    background-color: transparent;
    border: none;
    font-weight: bold;
    cursor: pointer;
    font-size: 18px;
    transition: color .3s linear;
}

nav button:hover {
    color: rgb(70, 70, 70);
}

.headText {
    margin: 0 auto;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -20%);
}

.headText h1 {
    font-size: 96px;
}
.headText h3 {
    text-align: left;
    font-family: "Noto Sans", sans-serif;
}

.parallaxContainer {
    overflow: hidden;
    height: 100vh;
}

.parallaxContainer img {
    position: absolute;
    width: 100%;
    min-height: 100vh;
    z-index: -1;
    object-fit: cover;
}

.infoContainer {
    background-color: black;
    z-index: 2;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: 100%;
    justify-content: space-between;
    align-items: center;
    color: white;
    min-height: 100vh;
    padding: 0px 5px 30px 5px;
}

.infoContainer figure {
    margin: 0px auto;
    text-align: center;
    padding-bottom: 30px;
    font-size: 20px;
}

.infoContainer span {
    font-family: "Noto Sans", sans-serif;
    font-size: 14px;
}

.infoImage {
    max-width: 500px;
}

.infoContainer p {
    padding: 0 5px;
    align-self: flex-start;
    font-family: "Noto Sans", sans-serif;
    line-height: 1.6;
}

@media screen and (max-width: 500px) {

    .headText h1 {
        font-size: 72px;
    }

    .infoContainer img {
        max-width: 100%;
    }
}
